.toggle{
  font-size:12px;
  cursor:pointer;
  color:blue;
}

.btnAdmin{
  top:40px;
  right:25%;
  width:100px;
  background:#666666;
  cursor:pointer;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.btnAdmin:hover{
  background:#777777;
}

.lupaPassword{
  display:inline-block;
  margin-top:10px;
  text-decoration:none;
}

#footer{
  text-align:center;
  margin-top:40px;
  color:#777;
  font-size:14px;
}